<div class="form-container">
  <h2 class="form-title">Sign Up</h2>
  <form id="signup-form" action="/login" method="post" class="form">
    <input
      id="signup-name"
      type="text"
      placeholder="Name"
      name="name"
      class="form-input"
      required
    />
    <input
      id="signup-email"
      type="text"
      placeholder="Email"
      name="email"
      class="form-input"
      required
    />
    <input
      id="signup-password"
      type="password"
      placeholder="Password"
      name="password"
      class="form-input"
      required
    />
    <button type="submit" class="form-button">Sign Up</button>

    <p class="auth-switch">Already have an account? Login
      <a href="/login">here</a></p>
  </form>
</div>

<script src="/js/signup.js"></script>