/* GOOGLE FONT IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set core body defaults */
body {
  background: #e1dfdf;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: "Poppins", sans-serif;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* NAVBAR STYLES */
.header {
  background-color: #100f0f;
  padding: 10px 0;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo-container {
  flex-grow: 1;
  text-align: center;
}

.navbar__logo {
  display: inline-block;
  font-size: 24px;
  color: #dddadb;
  text-decoration: none;
  font-weight: bold;
}

.navbar__list {
  display: flex;
  margin-left: auto;
}

.navbar__item {
  padding: 15px;
}

.navbar__link {
  text-decoration: none;
  color: #dddadb;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navbar__link:hover {
  color: #b6b0b1;
}

/* FORM STYLING */
.form-container {
  width: 90%;
  max-width: 500px;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
}

.form-title {
  margin-bottom: 1em;
  font-size: 1.75rem;
  text-align: center;
  font-weight: 600;
  color: #080707;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form-input {
  width: 100%;
  padding: 0.75em;
  border: 1px solid transparent;
  border-radius: 16px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  background: none;
}

.form-input:hover {
  border-color: #978e8f;
}

.form-input:focus {
  border-color: #504a4b;
}

.form-button {
  padding: 0.75em;
  background-color: #ff0000;
  color: #e1dfdf;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.form-button:hover {
  background-color: #ff4c4c;
}

.auth-switch {
  text-align: center;
  margin-top: 1em;
}

.auth-switch a {
  color: #080707;
}

/* Homepage Styles */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

main h1 {
  font-size: 2.5rem;
  color: #080707;
}

@media screen and (max-width: 768px) {
  main h1 {
    font-size: 2rem;
  }
}
